body,html {
		margin:0;
		padding:0;
		
		
	}
	
	#wrap {
		width:1208px;
		margin:0 auto;
		background:none;
	}
	#header {
    	padding:30px 20px;
		background:#ffcd37;
		text-align:center;
	}

	
	h1 {
	    margin:0;
    }
	
	#logo {
		height:150px;
		width:150px;
		float:left;
		padding:none;
		position:absolute;
		top:-30px;
		left:350px;
	
	}
	#nav {
		padding:20px 250px;
		background:#cf77a3;
	}
	
	
	#nav ul {
		margin:0;
		padding:0;
		list-style: none;
		
		
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	
	
	#main{
		height:1500px;
		float:left;
		width:800px;
		padding:10px;
		background:#ffffff;
		font-size: 20px;
	}
	
	#main_contact{
		height:1200px;
		float:left;
		width: 1188px;
		padding:10px;
		background:#ffffff;
	}
	
	h2 {
		margin:0 0 1;
	}
	#sidebar {
		height:1500px;
		float:right;
		width:368px;
		padding:10px;
		background:#FF7F51;
		
	}
	
	#sideindex {
		height:1200px;
		float:right;
		width:368px;
		padding:10px;
		background:#FF7F51;
		
	}
	
	#map{
		float:left;
		padding:0px 100px;
	
	}
	
	
	#footer {
		clear:both;
		padding: 0px 0px;
		background:none;
		float: relative;
	}
	#footnav {
		padding:15px 20px;
		background:#ffcd37;
		text-align: right;
	}

	

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: #cf77a3;
    color: #000000;
    padding: 20px 40px;
    text-decoration: none;
    border-radius: 0px 0px 0 0;
}

ul#menu li a:hover {
    background-color: #fffac4;
}

	.container {
		position: relative;
		text-align: center;
		color: #ffffff;
}
	.bottom-left {
		position: absolute;
		bottom: 8px;
		left: 16px;
		font-weight: bold;
		
}

.mySlides {display:none;}
